.task{
  @include flex();
  margin-bottom: 15px;
  .task_left{
    @include flex(flex-start);
    span{
      display: flex;
      cursor: pointer;
    }
    p{
      font-size: 14px;
      margin-left: 10px
    }
  }
  .icons{
    @include flex();
    svg{
      @include tablet{
        width: 20px;
        height: 20px;
      }
    }
    .line{
      display: inline-block;
      width: 1px;
      height: 25px;
      background-color: black;
    }
  }
}