.container{
    width: 95%;
    max-width: 1420px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppi;
}
body{
    background-color: $grey;
}

@mixin flex($justify:space-between,$aligin:center,$direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $aligin;
    flex-direction: $direction;
}

@mixin tablet{
    @media (max-width:1000px){
        @content;
    }
}

@mixin mobile {
    @media (max-width:640px) {
        @content;
    }
}
