.main{
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  @include flex();
  .container{
    .main_page_con{
      width: 45%;
      height: 100vh;
      margin: 0 auto;
      background-color: $background;
      padding: 55px 0 55px;
      text-align: center;
      @include flex(flex-start, center, column);
      .mainImg{
        width: 70%;
        margin: 0 auto;
        #mainImg{
          width: 100%;
        }
      }
      .title{
        color: $black;
        width: 80%;
        margin: 50px auto 70px;
      }
    }
  }
}